node_modules
.next
out
dist
*.log
.env
.env.local
prisma/dev.db
prisma/dev.db-journal
prisma/deploy.db
prisma/deploy.db-journal
prisma/test.db
prisma/test.db-journal
extract.js
fetch_html.js

.DS_Store
coverage
